
    <h1>Add Image To Gallery</h1>

    {{ include('admin/image/_form.html.twig') }}
    {% for image in imagelist %}
     <img src="{{ asset('uploads') }}/images/{{ image.image }}" height="200">

    <a href="{{ path('admin_image_del',{'id':image.id,'pid':image.productid}) }}" onclick="return confirm('Silinmesini istediğine emin misin?');" class="btn bg-orange btn-block btn-sm waves-effect"></button>Sil</a>
{% endfor %}