{% extends 'frontbase.html.twig' %}

{% block title %}Hakk覺m覺zda{% endblock %}
{% block keywords %}{{ data[0].keywords }}{% endblock %}
{% block description %}{{ data[0].description }}{% endblock %}
{% block content %}
    <!--
    Body Section
    -->
    <div id="contact-page" class="container">

        <hr class="softan">
        <div>
            <h1>Hakk覺m覺zda</h1>
        </div>
        <hr class="softan">

        <div class="row">
            <div class="span12">
                <p>
                    {{ data[0].aboutus|raw }}
                </p>
                <div class="row"></div>

            </div>
        </div>
    </div>
{% endblock %}
